extends index 

block home
  div.container-fluid
    div.row.align-items-center(style='min-height: 95dvh')
      div.col-7
        div
          h1.text-center #{contactContent.title}
          div.adressContent
            h5.adress.text-end #{contactContent.body.adress.street}
            h5.adress.text-end #{contactContent.body.adress.zipCode} #{contactContent.body.adress.city}
            h5.tel.text-end #{contactContent.body.tel}
